<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Free CRM Application Test Automation Test Suite" >

<listeners>
<listener class-name="com.qa.ExtendReportListener.ExtendReportListener">
</listener>
</listeners>

  <test name="Free CRM App test cases" >
    <classes>
       <class name="com.app.qa.testcases.LoginPageTest" />
    <class name="com.app.qa.testcases.HomePageTest" />
       <class name="com.app.qa.testcases.ContactPageTest"/> 
    </classes>
  </test>
 
  
  
</suite>